In [3]:
import pandas as pd
from datetime import timedelta, datetime
import numpy as np
import matplotlib.pyplot as plt
import requests
import warnings
warnings.filterwarnings("ignore")
import prepare
import acquire
import statsmodels.api as sm

from acquire import get_all_sales_data

In [4]:
# plotting defaults
plt.rc('figure', figsize=(13, 7))
plt.style.use('seaborn-whitegrid')
plt.rc('font', size=16)

In [2]:
df = acquire.get_germany_power()
df.head(3)

   Unnamed: 0        Date  Consumption  Wind  Solar  Wind+Solar
0           0  2006-01-01     1069.184   NaN    NaN         NaN
1           1  2006-01-02     1380.521   NaN    NaN         NaN
2           2  2006-01-03     1442.533   NaN    NaN         NaN

Do your work for this exercise in a notebook named explore. 
- Use the techniques in the lesson to explore the store item demand dataset and the opsd dataset.

For the store item demand data, you will need to choose a method of aggregating such that each observation is a unique date. For both datasets you should choose a method of splitting your data and only explore the training split.